.characters-grid,
.actors-grid {
  height: max-content;
  background-image: var(--gradient-1);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  
  .img {
    height: auto;
    aspect-ratio: 2/3;
    border-radius: 10px;
    margin: 5vmin;
    width: 70%;
  }
  
  .info-wrap {
    height: max-content;
    padding: 5vmin;
    
    .info-grid {
      height: max-content;
      width: 90%;
      border-radius: 10px;
      margin: 5vmin;
      align-items: start;
      background-image: var(--gradient-1), var(--gradient-18);
    }
    
    .synopsis-text {
      height: max-content;
      padding: 5vmin;
      white-space: pre-line;
    }
  }
}


.actors {
  height: max-content;
  margin: 5vmin;
  grd-temlat-image: var(--gradient-1);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: start;
}